////////////
//
// Copyright 2018 M. Hoppe & N. Justus
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
//
////////////

- unless local_assigns[:css_extra]
  - css_extra = ''
- if team.hidden_access?
  = mdi_tag 'eye-off', class: "#{css_extra} red-text tooltipped", data: {position: 'bottom', tooltip: team.access_i18n}
- elsif team.private_access?
  = mdi_tag 'shield-half-full', class: "#{css_extra} orange-text tooltipped", data: {position: 'bottom', tooltip: team.access_i18n}
- elsif team.public_access?
  = mdi_tag 'shield-outline', class: "#{css_extra} green-text tooltipped", data: {position: 'bottom', tooltip: team.access_i18n}