////////////
//
// Copyright 2018 M. Hoppe & N. Justus
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
//
////////////

= render 'application/form_errors', errors: @progress.errors

= simple_form_for(@progress, url: start_team_member_progresses_path(@team, @member)) do |f|
  .row
    .col.m6.hide-on-small-only
      = f.input :description, wrapper_html: {class: 's12'}
    .col.s10.m5
      = render 'acts_as_taggable_on/tag_list', f: f, for_class: 'progress', value: @progress&.tag_list, collection: Team::Progress.tags_on(:tags)
    .col.s2.m1
      = f.button :button, class: 'green btn-floating tooltipped', data: {position: 'bottom', tooltip: t('team.progress.start')}
        = mdi_tag 'play'
