////////////
//
// Copyright 2018 M. Hoppe & N. Justus
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
//
////////////

- unavailability = member.current_unavailability
- if unavailability.end
  - badge_text = t('team.member.dashboard.not_available_until', date: l(unavailability.end, format: :short))
- else
  - badge_text = t('team.member.dashboard.not_available')

- if can? :show, member
  = link_to team_member_unavailabilities_path(member.team,member)
    span.badge.new.red.white-text data={badge: {caption: badge_text}}
- else
  span.badge.new.red.white-text data={badge: {caption: badge_text}}
