////////////
//
// Copyright 2018 M. Hoppe & N. Justus
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at
//
// http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing, software
// distributed under the License is distributed on an "AS IS" BASIS,
// WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
// See the License for the specific language governing permissions and
// limitations under the License.
//
////////////

= simple_form_for(:filter, method: :get) do |f|
  = f.input :month, collection: @available_months, wrapper_html: {class: 's10'}, label_method: lambda {|m| "#{t('date.month_names')[m.month]} #{m.year}"}, include_blank: :translate
  = f.button :button, class: 'blue btn-floating tooltipped', data: {position: 'bottom', tooltip: t('team.progress.filter.apply')}, wrapper_html: {class: 's2'}
    = mdi_tag 'filter'
